<%-include header.ejs-%> 
<div class="container">
    <div>
      <br>
      <br>
      <br>
      <br>
      </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 1</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 2</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 3</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 4</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 5</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 6</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 7</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">Client 8</a>
        </div>
      </div>
    </div>
  </div>
  <%-include footer.ejs-%> 

