<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
 <script>
   // Initialize Firebase
   var config = {
     apiKey: "AIzaSyCEijciyjgV6aaNmV3mKwdMMXuQnAbpyEc",
     authDomain: "my-app-7a548.firebaseapp.com",
     databaseURL: "https://my-app-7a548.firebaseio.com",
     projectId: "my-app-7a548",
     storageBucket: "",
     messagingSenderId: "31263139610"
   };
   firebase.initializeApp(config);
 </script>
 <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }
  </script>
</body>
</html>