<!DOCTYPE HTML>
<html>

<head>
	<title>MyApp</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/main.js"></script>
  

</head>

<body>

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48">
					<img src="images/1.jpeg" alt="" />
				</span>
				<h1 id="title">MyApp</h1>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li>
						<a href="/" id="top-link" class="skel-layers-ignoreHref">
							<span class="icon fa-home">Home</span>
						</a>
					</li>
					<li>
						<a href="/" id="top-link" class="skel-layers-ignoreHref">
							<span class="icon fa-home">Home</span>
						</a>
					</li>
					<li>
						<a href="/" id="top-link" class="skel-layers-ignoreHref">
							<span class="icon fa-home">Home</span>
						</a>
					</li>
					<li>
						<a href="/" id="top-link" class="skel-layers-ignoreHref">
							<span class="icon fa-home">Home</span>
						</a>
					</li>
					<li>
						<a href="/" id="top-link" class="skel-layers-ignoreHref">
							<span class="icon fa-home">Home</span>
						</a>
					</li>
				</ul>
			</nav>

		</div>



	</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

						</div>
					</section>

				

						</div>
					</section>

			</div>

			<!-- Footer -->
				<div id="footer">

					<!-- Copyright -->
						<ul class="copyright">
							<li>&copy;</li>
						</ul>
						<div class="bottom">

							<!-- Social Icons -->
								<ul class="icons">
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
								</ul>

						</div>

				</div>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/jquery.scrolly.min.js"></script>
				<script src="assets/js/jquery.scrollzer.min.js"></script>
				<script src="assets/js/skel.min.js"></script>
				<script src="assets/js/util.js"></script>
				<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
				<script src="assets/js/main.js"></script>
				<script src="assets/js/login.js"></script>

				</body>
				</html>