<%-include header.ejs-%> 
<div class="container">
    <div>
      <br>
      <br>
      <br>
      <br>
      </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 1</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 2</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 3</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 4</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 5</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 6</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 7</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
          <a href="">map 8</a>
        </div>
      </div>
    </div>
  </div>
  <%-include footer.ejs-%> 

